.crystalPost {
    border-bottom: 1px solid #ccc;
}

#title {
    font-size: 1.6rem;
    font-weight: 700;
    color: whitesmoke;
    margin-right: 0px;
}

.card {
    padding-right: 0;
    padding-left: 0;
}

.card-title {
    padding-left: 1.25rem;
}

@media screen and (max-width: 530px) {
    #nav-container {
        justify-content: center;
    }
}