.crystalPost {
    border-bottom: 1px solid #ccc;
}

#title {
    font-size: 1.6rem;
    font-weight: 700;
    color: whitesmoke;
    margin-right: 0px;
}

@media screen and (max-width: 510px) {
    #nav-container {
        justify-content: center;
    }
}